.site-logo{
    display:inline-block;
    .site-logo__img{
        width: 40px;
    }
}

.btn-principal {
    background-color: #2f3ab2;
    color: white;
}

.btn-gray {
    background-color: #d6d6d7;
}

.text-principal {
    color: #2f3ab2;
}

a {
    text-decoration: none;
    color: #090909;

    &:hover {
        color: #2f3ab2;
    }
}

.bg-card {
    background-color: #fafafa;

    &:hover {
        background-color: white;
    }
}

.category {
    font-size: 0.75rem;
    margin-top: -1rem;
}

footer {
    background-color: #e5e5e5;
    font-size: 0.9rem;

    .col-12 {
        margin-bottom: -0.7rem;

        a {
            color: #2f3ab2;

            &.link-hover:hover {
                text-decoration: underline;
            }
        }
    }
}