body {
    background-color: #f5f5f5;
}

.name-font{
    font-size: small;
}
.date-font{
    color:grey;
    font-size: smaller;
    font-style: normal;
}
.site-logo__img{
        width: 50px;
}

.search-bar{
    width: 30vw;
    border-color: #d4d4d4;
    border-radius: .5rem;
    padding-left: 10px;
}
.rainbow-logo{
    width: 20px;
}
.book-icon{
    width: 20px;
}
.think-emoji{
    width: 20px;
}
.socmed-icon{
    color: gray;
}
.prof-img {
    width: 40px;
}

.btn-principal {
    background-color: #2f3ab2;
    color: white;
}
.btn-second {
    color: #404ee8;
    background-color: white;
    border-color: #404ee8;
    &:hover{
        background-color: #404ee8;
        color: white;
        text-decoration: underline;
    }
}
.btn-third {
    color:gray;
    &:hover{
        background-color: #bfc3ef;
        border: #9098ee;
        text-decoration: underline;
        color: #2f3ab2;
    }
}
.btn1, .btn2, .btn3{
    &:hover{
        color: #2f3ab2;
        background-color:white;
    }
}
.hash1, .hash2, .hash3, .hash4 {
    border:none;
    &:hover{
        background-color: lightgray;
    }
}

.btn-gray,
.bg-gray {
    background-color: #d6d6d7;
}

.text-principal {
    color: #2f3ab2;
}

a {
    text-decoration: none;
    color: #090909;

    &:hover {
        color: #2f3ab2;
    }
}

.category {
    font-size: 0.75rem;
    margin-top: -1rem;

    &.category-button:hover {
        border: 1px solid gray;
        border-radius: 10px;
        padding: 5px;
        background-color: lightgrey;

        &:last-of-type {
            border: 1px solid mediumseagreen;
            background-color: palegreen;
        }
    }
}

.aside-left-post {
    button {
        margin-bottom: -0.75rem;
    }
}

#like-icon:hover {
    fill: red;
    border-radius: 50%;
    background-color: #ff000044;
}

#comments-icon:hover {
    fill: rgb(255, 217, 0);
    border-radius: 50%;
    background-color: #ffd90059;
}

#save-icon:hover {
    fill: #2f3ab2;
    border-radius: 50%;
    background-color: #2f3ab236;

}

#show-more-icon:hover {
    border-radius: 50%;
    background-color: #e5e5e5 !important;
}

.post-data-img {
    a.position-absolute {
        top: 20px;
        left: 20px;
    }
}

article {
    .article-main {
        font-size: 20px;

        .card {
            li p {
                color: #090909;
            }
        }
    }
}

article {
    .card {
        li:last-of-type {
            p {
                background-color: #2f3ab2;
                color: white;
            }
        }
    }
}

.post-card-image {
    left: 20px;
    top: 20px;
}

footer {
    background-color: #e5e5e5;
    font-size: 0.9rem;

    .col-12 {
        margin-bottom: -0.7rem;

        a {
            color: #2f3ab2;

            &.link-hover:hover {
                text-decoration: underline;
            }
        }
    }
}