.name-font{
    font-size: small;
}
.date-font{
    color:grey;
    font-size: smaller;
    font-style: normal;
}
.site-logo__img{
        width: 50px;
}

.search-bar{
    width: 30vw;
    border-color: #d4d4d4;
    border-radius: .5rem;
    padding-left: 10px;
}
.prof-img {
    width: 40px;
}
.btn-principal {
    background-color: #2f3ab2;
    color: white;
}
.btn-second {
    color: #404ee8;
    background-color: white;
    border-color: #404ee8;
    &:hover{
        background-color: #404ee8;
        color: white;
        text-decoration: underline;
    }
}
.btn-third {
    color:gray;
    &:hover{
        background-color: #bfc3ef;
        border: #9098ee;
        text-decoration: underline;
        color: #2f3ab2;
    }
}
.btn1, .btn2, .btn3{
    &:hover{
        color: #2f3ab2;
        background-color:white;
    }
}
.hash1, .hash2, .hash3, .hash4 {
    border:none;
    &:hover{
        background-color: lightgray;
    }
}

.btn-gray {
    background-color: #d6d6d7;
}

.text-principal {
    color: #2f3ab2;
}

a {
    text-decoration: none;
    color: #090909;

    &:hover {
        color: #2f3ab2;
    }
}

.bg-card {
    background-color: #fafafa;

    &:hover {
        background-color: white;
    }
}

.category {
    font-size: 0.75rem;
    margin-top: -1rem;
}

footer {
    background-color: #e5e5e5;
    font-size: 0.9rem;

    .col-12 {
        margin-bottom: -0.7rem;

        a {
            color: #2f3ab2;

            &.link-hover:hover {
                text-decoration: underline;
            }
        }
    }
}